:root {
  /** Fonts */
  --poppins: "Poppins", sans-serif;
  --lexend: "Lexend", sans-serif;

  /** Color */
  --primary-color: hsl(227, 69%, 54%);
  --text-color: hsl(60, 2%, 22%);
  --bg: hsl(240, 100%, 98%);
  --bg-accent: hsl(240, 100%, 97%);
  --button-border-color: hsl(0, 0%, 96%);
  --darkness: hsl(247, 26%, 7%);
  --border-color: hsl(0, 0%, 91%);

  /** Spacing */
  --section-padding: 4rem;

  /** Mobile menu */
  --menu-height: 50vh;
  --menu-bg: var(--darkness);
}
